__pycache__
.DS_Store
.vscode/settings.json
test_samples/recal.csv
test_samples/test_2.csv
test_samples/test.csv
test_samples/~$Result.xlsx
test_samples/2020_07_22_U_4.8_0deg.dat
test_samples/Result.xlsx
test_samples/Result.csv
test_samples/2020_07_22_U_4.8_0deg.dat
