__pycache__
.DS_Store
.vscode/settings.json
test_samples/recal.csv
test_samples/test_2.csv
test_samples/test.csv
test_samples/~$Result.xlsx
test_samples/2020_07_22_U_4.8_0deg.dat
test_samples/Result.xlsx
test_samples/Result.csv
test_samples/2020_07_22_U_4.8_0deg.dat
test_samples/Result_2.csv
test_samples/Recal_P_dyn/~$Result_alpha_u.xlsx
test_samples/Recal_P_dyn/2020_07_22_U_4.8_0deg_2.BIN
test_samples/Recal_P_dyn/2020_07_22_U_4.8_0deg_2.dat
test_samples/Recal_P_dyn/2020_07_22_U_4.8_0deg_2.mat
test_samples/Recal_P_dyn/2020_07_22_U_4.8_0deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_4.8_0deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_4.8_0deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_4.8_90deg_2.BIN
test_samples/Recal_P_dyn/2020_07_22_U_4.8_90deg_2.dat
test_samples/Recal_P_dyn/2020_07_22_U_4.8_90deg_2.mat
test_samples/Recal_P_dyn/2020_07_22_U_4.8_90deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_4.8_90deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_4.8_90deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_4.TST
test_samples/Recal_P_dyn/2020_07_22_U_9.5_0deg_repro.BIN
test_samples/Recal_P_dyn/2020_07_22_U_9.5_0deg_repro.dat
test_samples/Recal_P_dyn/2020_07_22_U_9.5_0deg_repro.mat
test_samples/Recal_P_dyn/2020_07_22_U_9.5_0deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_9.5_0deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_9.5_0deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_9.5_90deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_9.5_90deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_9.5_90deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_9.TST
test_samples/Recal_P_dyn/2020_07_22_U_19.1_0deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_19.1_0deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_19.1_0deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_19.1_90deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_19.1_90deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_19.1_90deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_19.TST
test_samples/Recal_P_dyn/2020_07_22_U_28.6_0deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_28.6_0deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_28.6_0deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_28.6_90deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_28.6_90deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_28.6_90deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_28.TST
test_samples/Recal_P_dyn/2020_07_22_U_38.2_0deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_38.2_0deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_38.2_0deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_38.2_90deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_38.2_90deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_38.2_90deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_38.TST
test_samples/Recal_P_dyn/2020_07_22_U_47.7_0deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_47.7_0deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_47.7_0deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_47.7_90deg.BIN
test_samples/Recal_P_dyn/2020_07_22_U_47.7_90deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_47.7_90deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_47.TST
test_samples/Recal_P_dyn/2020_07_22_U_66.4_90deg.bin
test_samples/Recal_P_dyn/2020_07_22_U_66.4_90deg.dat
test_samples/Recal_P_dyn/2020_07_22_U_66.4_90deg.mat
test_samples/Recal_P_dyn/2020_07_22_U_66.4_90deg.TST
test_samples/Recal_P_dyn/Calage des vitesses.xlsx
test_samples/Recal_P_dyn/Result_alpha_u.xlsx
test_samples/Recal_P_dyn/Result_alpha.csv
